.header {
    position: absolute;
    top: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        flex-grow: 1;
    }

    &__nav {
        margin-right: 50px;
    }

    &__personal {
        display: flex;
        gap: 30px;
    }
}
