.nav {
	&__list {
		display: flex;
		gap: 35px;
		margin: 0;
		padding-left: 0;
	}

	&__item {
		list-style: none;
	}

	&__link {
		color: $blue;
		text-decoration: none;

		&:hover {
			color: $blue-light;
		}
	}
}
