$blue: #122947; // main text
$manatee: #9A9DA0;  // text in cards
$alto: #D1D1D1; // line in footer
$dusty-gray: #959595; // copyright text
$pampas: #F4F1ED; // section background
$mercury: #E5E5E5;  // main background



